// Automatically upgrade packages from these origins
Unattended-Upgrade::Allowed-Origins {
    "${distro_id}:${distro_codename}";
    "${distro_id}:${distro_codename}-security";
    "${distro_id}ESMApps:${distro_codename}-apps-security";
    "${distro_id}ESM:${distro_codename}-infra-security";
};

// List of packages to not update automatically
Unattended-Upgrade::Package-Blacklist {
};

// Automatically reboot WITHOUT CONFIRMATION if required after update
// Set to false for production if you want manual control
Unattended-Upgrade::Automatic-Reboot "false";

// If automatic reboot is enabled and needed, reboot at this time
Unattended-Upgrade::Automatic-Reboot-Time "03:00";

// Remove unused kernel packages and dependencies
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

// Send email on errors or updates
// Unattended-Upgrade::Mail "root";
// Unattended-Upgrade::MailReport "on-change";
